* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  text-align: center;
  padding: 30px;
}
.pokemon {
  list-style: none;
}
.listPokemon {
  margin-top: 20px;
  width: 100%;
  /* background-color: pink; */
  display: flex;
  flex-wrap: wrap;
}
.cardPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 200px;
  height: 250px;
  margin: 5px;
  /* padding: 10px; */
}
.picturePokemon {
  height: 150px;
}
.namePokemon {
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  width: 100%;
  text-align: center;
  padding: 4px;
}
.categoryPokemon {
  list-style: none;
  border: 1px solid grey;
  border-radius: 10%;
  background-color: grey;
  color: white;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}
.categoryList {
  display: flex;
  flex-direction: row;
}
