* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pokemon {
  list-style: none;
}
.listPokemon {
  margin-top: 20px;
}
.cardPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 200px;
  padding: 10px;
}
